@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
:root {
  --cp1:#F6416C;
  --cp2: #37c76e;
  --cp3: #FFDE7D;
  --cp4: #00B8A9;
  --cp5: #F8F3D4;
}
body{background-color:var(--cp5);}
input[type=number]::-webkit-outer-spin-button, /* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] { /* Firefox */
  -moz-appearance: none;
  appearance: textfield;
}

/* most-often used elements */
#gtoolbar {
  width:100%; display:grid; user-select:none;
  grid-auto-flow:column; justify-content:space-between;
  align-items:center; padding:0 .3em; box-sizing:border-box;
}
#gbackbtn {background-color:var(--cp4); border-radius:18px; padding:.2rem .3rem; cursor:pointer;}
#gbackbtn span{color:white; font-size:2.5rem; font-weight:600;}