@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
:root {
  --cp1: #ff8c00;
  --cp2: #ffd700;
  --cp3: #c9d1df;
  --cp4: #8cff00;
  --cp5: #046dfd;
  --cp6: #fddaaa;
  --cp7: #EEF3FD;
  /* conversion of color-palette to filter for svg, only put these in filter property */
  --vg_cp5: invert(31%) sepia(60%) saturate(6469%) hue-rotate(210deg) brightness(105%) contrast(98%);
  --vg_fff: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
}
body{background-color:#fff;}
input[type=number]::-webkit-outer-spin-button, /* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] { /* Firefox */
  -moz-appearance: none;
  appearance: textfield;
}

@media (min-width: 600px) { /* desktop view */
  #gbackbtn img {width:2.5rem; height:auto;}
}
@media (max-width: 600px) { /* mobile view */
  #gbackbtn img {width:2rem; height:auto;}
}

/* current--Initial elements */
#MobileOnly_PullFullScreen {
  background: rgb(255, 141, 47);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  position: fixed;
  top: -50px;
  left: 45%;
  transition: top 0.5s ease-in-out;
}
#MobileOnly_PullFullScreen[shown] {
  top: 50px;
}

/* most-often used elements */
#gtoolbar {
  width:100%; display:grid; user-select:none;
  grid-auto-flow:column; justify-content:space-between;
  align-items:center; padding:0 .3em; box-sizing:border-box;
  position: absolute; top:10px; left:5px;
}
#gbackbtn {
  background-color:var(--cp5); border-radius:18px;
  padding:.3rem; padding-bottom:.1em; cursor:pointer;
}

/* animATION?? */
@keyframes to-load {
  0% {position:absolute; left:-200%;}
  95% {position:absolute; left:0;}
  97% {position:absolute; left:25%;}
  100% {position:relative;}
}