@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#credit-title hr {
  color:var(--cp5);
  height:4px; width:60%;
  position:absolute; top:50%; left:20%;
  margin:auto; z-index:-1;
}
#credit-title h1 {
  font-family: "Inder", sans-serif;
  font-size:3em; line-height:1;
  font-weight:normal;
}
#credit-content{font-family: "Istok Web", sans-serif;}
#credit-content h2 {text-align:center;}