@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;500;600;700;800;900&display=swap');

body {
  background: url("../assets/expr_bg.jpg");
  background-size: cover;
  font-size: 20px;
}
#expr-result {
  font-family:"Sarpanch", system-ui; border-radius:5px;
  width: 16rem; margin:auto; display:block; background:#fff;
  outline:none; border: none; color: #000;
  margin-top:2em; font-size:calc(3vh + 3vw); text-align:center;
}