body {
  font-family: "Aldrich", Arial;
}

@media (max-width:600px) { /* mobile layout */
  #board-container table { font-size:.6rem; } 
}

#header-title {
  position: relative;
  width: fit-content;
  margin: auto;
  margin-top: 1.3rem;
}

h1 {
  text-align: center;
  line-height: 2px;
  color: var(--cp-4);
  -webkit-text-stroke: .3px #000;
}

#header-title hr:nth-of-type(2),
#header-title hr:nth-last-of-type(2) {
  width: 100%;
}

#header-title hr:nth-of-type(1),
#header-title hr:nth-last-of-type(1) {
  width: 85%;
}

#board-container {
  margin-top: 2rem;
  ;
  padding: .5rem;
  background: var(--cp7);
  border-radius: 5px;
  border: solid rgb(0 0 0 / 40%) 1px;
  min-height: 70vh;
}

table {
  text-align: center;
  border-spacing: 0 5px;
  width: 100%;
}

th {
  padding: 5px 0;
}

th:nth-of-type(1) {
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
}

th:nth-last-of-type(1) {
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
}

th:nth-last-of-type(1),
td:nth-last-of-type(1) {
  padding-right: calc(3% + 10px);
}

th {padding: 3px 7px;}
td {padding: 12px 7px;}

th {
  background: var(--cp1);
}

td {
  background: var(--cp3);
}

td:nth-of-type(1) {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 5px;
  font-weight: bold;
}

td:nth-last-of-type(1) {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

td:nth-of-type(2),
th:nth-of-type(2) {
  text-align: left;
  padding: 0 20px;
}