body {
  font-family: "Aldrich", Arial;
  background: #d7e6ec;
}
h1 {
  text-align: center
}

#item-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 2.5rem;
  ;
  font-size: calc((24px + (2vw + 2vh)) / 3);
}
#item-container h4 {
  font-size: calc((2em + (2vw + 2vh)) / 3);
  margin: 0;
}
.settings-item {
  background:#fff; padding:15px 10px;
}
div.settings-item:not(:last-of-type) {
  border-bottom: solid rgba(0, 0, 0, 0.24) 1px;
}
.settings-item:first-of-type {
  border-top-right-radius:5px;
  border-top-left-radius:5px;
}
.settings-item:last-of-type {
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
}
.settings-item:not(#math-branch-option) {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.side-info, .warning-note {
  font-family:calibri; font-style:italic;
  font-size: calc((1rem * 1.7) / 2);
  display:block;
}
.settings-item > div {display: grid;}
.settings-item:not(#math-branch-option) > div { justify-items:end; }
.side-info {color:#777;}
.warning-note {color:#f00; max-width:calc(((10vw + 2vh) * 5) / 2);}
#maxnum-option input, #save-option select {
  padding:3px; border-radius:4px; outline:none;
  border: solid 2px rgb(0 0 0 / 30%);
  width:calc((2vw + 2vh) * 5);
  float:right;
}
.toggle-option{
  appearance:none;
  width:60px;height:30px;
  width:calc(30px + (2vw + 2vh)); height:calc(13px + (1vw + 2vh));
  border-radius:50px;
  background:#fff;
  transition: all .2s ease-in-out;
  position: relative; cursor:pointer;
}
.toggle-option::before {
  content:'';
  height:23px; width:23px;
  width:calc(13px + (1vw + 2vh) / 2); height:calc(14px + (1vw + 2vh) / 2);
  border-radius:50%;
  background:#fff;
  transition: all .25s ease-in;
  position:absolute;
  top:14%; left:4px;
}
.toggle-option:not(:checked){background:#f00;}  .toggle-option:checked{background:#0f0;}
.toggle-option:checked::before { transform:translateX(calc(80% + 1vw)); }