@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

* {
    -webkit-tap-highlight-color: transparent;
}

*[hidden]{display:none !important;}
@media (min-width:600px) { /*desktop view*/
  #plygnd {gap:15px; font-size:4vw;}
  #p-output p {font-size: 5vw;}
  #eval_ply {font-size:2.5vw; box-shadow:14px 13px 0px 6px #22222282;
    column-gap:2em;}
  #gpausebtn{font-size:3rem;}
  #time_rec{font-size:2em;}
  #ToggleSketch{font-size:30px; right:.2em; bottom:.2em;}
  #plygnd button { padding: .7vw 0; font-size:1.96rem;}
  #p-input {gap: .2em;}
}
@media (max-width:600px) { /*mobile view*/
  #plygnd {gap:1.2em; font-size:2rem;}
  #p-output{width:80%; margin: auto;}
  #p-output input {width: 90%;}
  #p-output p {font-size:2rem;}
  .calcin{padding: .3em 0;}
  #p-input{margin: 0 .5em; gap:.3em;}
  #eval_ply{box-shadow:12px 11px 0px 1px #22222282;
  column-gap:1em;}
  #eval_ply label[evalt="timer"]+span{grid-column:1;}
  #gpausebtn{font-size:2.5rem;}
  #time_rec{font-size:1.7em;}
  #ToggleSketch{font-size:25px; right:.7em; bottom:1.3em;}
}

#gtoolbar{position: relative !important; top:0; left:0;}

/* playground elements */
#plygnd {
  user-select:none;
  display:grid;
  justify-content:center; align-content:center;
  height: 90vh;
}
#plygnd input, #plygnd button {font-family:"Iceberg", sans-serif;}
#p-output {text-align:center; padding:.5em; background:var(--cp6); border-radius:5px;}
#p-output input{
  font-size:inherit; color:#000;
  background:var(--cp3);
  border:none;outline:none; border-radius:5px;
  padding:.2em; border: solid 1px #000;
}
#p-output p {margin:.5rem; margin-bottom:1rem; font-family:"Iceberg", sans-serif;}
#p-input{
  display:grid;
  grid-template-areas: "a a a"
  "a a a"
  "a a a";
  grid-template-columns: 1fr 1fr 1fr;
  user-select:none;
}
#plygnd button {
  cursor:pointer; width:100%;
  border-radius:7px; border:solid 0 rgb(0 0 0 / 28%);
  border-right-width:3px; border-bottom-width:2px;
  box-shadow: 2px 3px 3px 0 rgb(0 0 0 / 25%);
  line-height:1;
}
#plygnd button:active {
  border: solid 1px rgb(0 0 0 / 50%);
  box-shadow: inset 1px 1px 3px 2px rgb(0 0 0 / 25%);
}
#plygnd button:not(#pin-del, #posneg, #pin-enter){background:var(--cp7); color:#000;}
#pin-del, #posneg, #pin-enter {background-color:var(--cp1); color:#fff;}
#plygnd button:active {background:var(--cp1);}

/* toolbar addons */
#gpausebtn {color:var(--cp5); cursor:pointer;}
#time_rec {
  font-family:"Iceberg", sans-serif;
  background:#fff;
  padding: 5px 10px; width:max-content;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 #898989c2;
  border: solid 1px #bababa;
  box-sizing: border-box;
}

/* evaluation panel */
#eval_ply{
  font-family: "Lexend", sans-serif; align-items:center;
  display:grid; align-content:center;
  width:max-content; margin:25vh auto; row-gap:.2em;
  margin-bottom:1.5em;
  grid-template-areas:"a b"
  "a b"
  "a b";
  background:#fff; border-radius:15px;
  padding:.7em 1em;
}
#eval_ply label[evalt="score"]+span, #eval_ply label[evalt="score"] {font-size:2em;}
#eval_ply label[evalt="score"]+span {font-family:"Mr Dafoe", cursive; font-weight:bold; /*color:rgb(0, 216, 0);*/}
#eval_ply label[evalt="timer"]+span {font-family:"Offside", sans-serif;}
div:has(>#tryg, >#savscore){
  user-select:none;
}
#savscore, #tryg {
  margin:auto; width:max-content;
  padding:1em; border-radius:10px;
  cursor: pointer;
}
#savscore {
  background: #67fc3a;
}
#savscore:active {
  box-shadow:inset 0 0 0 3px #56c734;
}
#tryg{
  background: #ff7878;
}
#tryg:active{
  box-shadow:inset 0 0 0 3px #d53f3f;
}

/* addons */
#ToggleSketch {
  position:absolute;
  padding:.3em; z-index:210507;
  cursor:grab;
}
#ToggleSketch:active{cursor:grabbing;}
#ToggleSketch:not([used]){border-radius:10px; background:var(--cp5); color:#fff;}
#ToggleSketch[used]{border-radius:50px; background:#ffa857;}